:root {
  scroll-behavior: auto;
}
.list-group {
  display: none;
}
.show {
  display: block;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;

  /*시작스타일
  애니메이션은 display 말고 visibility로 사용
  visibility: hidden;
  opacity: 0;
  transition 추가*/
  transition: all 1s;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.dark {
  background: black;
  color: white;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.slide-container {
  width: 300vw;
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.con1 {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.con {
  font-size: 25px;
}

.percent {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: blue;
  width: 0%;
}
/* 애니메이션 법칙 
  1way 애니메이션 : 시작 스타일 만들고 최종스타일을 만들면 됨, 원할 떄 최종스타일로 변하라고 코드짜고 transition
  2way 애니메이션 : 
  */

.form-hide {
  display: none;
}

.btn-hide {
  display: none;
}
